* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
a,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans';
}

.hero-sec {
  background: url(/img/prana-air-cair-monitor.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  position: relative;
}

.hero-sec:before {
  position: absolute;
  content: "";
  background-image: linear-gradient(90deg, #101010, #101010d6, transparent);
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-heading p {
  color: #F9FAFF;
  font-size: 20px;
  font-weight: 300;
  width: 60%;
  line-height: 27px;
  padding: 5px 0 20px;
}

.page-btn {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 33%;
  padding: 5px;
  border-radius: 50px;
  transition: .2s linear;
  background: #4BA9FF;
}

.page-btn img {
  width: 40px;
}

.hero-heading {
  padding-top: 300px;
  position: relative;
}

.page-btn:hover {
  background: #ffffff00;
  border: 1px solid #fff;
}

.key-sec-heading {
  padding-top: 120px;
}

.hero-heading h1 {
  color: #F9FAFF;
  font-size: 56px;
  font-weight: 600;
  line-height: 56px;
  padding-bottom: 5px;
}

.air-quality-sec {
  padding-top: 150px;
}

.air-quality-heading h2 {
  color: #31343D;
  font-size: 40px;
}

.air-quality-heading h2 span {
  color: #31343D80;
}

.air-quality-bg {
  background: url(/img/air-quality.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 50px;
  position: relative;
}

.air-quality-sub-heading h2 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #ffffff4f;
  padding-bottom: 6px;
  width: 40%;
}

.air-quality-sub-heading p {
  color: #FFFFFF;
  font-size: 18px;
  padding-top: 15px;
  font-weight: 300;
  width: 50%;
  text-align: justify;
}

.air-quality-sub-heading {
  padding-top: 100px;
  position: relative;
}

.aqi-calculated {
  /* From https: //css.glass */
  background: rgba(76, 76, 76, 0.21);
  border-radius: 20px 20px 0 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  border: 1px solid rgb(217 217 217 / 27%);
  width: 55%;
  margin-top: 90px;
  position: relative;
  overflow: hidden;
  padding: 0 0 30px;
}

.aqi-calculated ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.calcu-btn {
  text-align: right;
  padding: 10px;
}

.calcu-btn img {
  filter: brightness(9.5);
  width: 25px;
}

.aqi-calculated ul li:last-child img {
  width: 70%;
}

.aqi-calculated ul li:last-child {
  text-align: center;
}

.aqi-calculated ul li:first-child img {
  filter: invert(1);
  width: 45px;
}

.aqi-calculated:before {
  position: absolute;
  content: "";
  background-image: linear-gradient(45deg, #ffffff00, #ffffff63, #ffffff00);
  width: 1px;
  height: 100%;
  left: -100px;
  right: 0;
  top: 0;
  margin: 0 auto;
}

.aqi-calculated ul li:first-child {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  padding-left: 50px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.air-quality-bg:before {
  position: absolute;
  content: "";
  background-image: linear-gradient(91deg, #2A302D, transparent);
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.tabs {
  top: 120px;
  position: relative;
  left: 140px;
}

.tab-button {
  padding: 20px;
  border: none;
  cursor: pointer;
  text-align: left;
  background: transparent;
}

.tab-content {
  display: none;
}

.tab-content:not(.hidden) {
  display: block
}

.hidden {
  display: none
}

.tab-content-para {
  text-align: left;
  padding: 50px 0px 20px;
  background: transparent;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}

.tab-btn {
  display: flex;
  align-items: center;
  border-top: 1px solid #00000021;
  border-bottom: 1px solid #00000021;
}

.tab-button.active ul li h4 {
  color: #F9FAFF;
}

.tab-button.active ul li span {
  color: #F9FAFF;
}

.tab-button.active ul li img {
  filter: brightness(30.5);
}

.tab-button ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 30px;
}

.tab-button ul li h4 {
  font-size: 24px;
  font-weight: 400;
}

.tab-button ul li span {
  font-size: 14px;
  font-weight: 300;
}

.tab-button ul li img {
  width: 30px;
}

.tab-content-para h4 {
  color: #31343D;
  font-size: 32px;
  font-weight: 600;
  width: 90%;
  padding-bottom: 15px;
}

.tab-content-para p {
  color: #31343D;
  font-size: 16px;
  font-weight: 300;
  width: 90%;
}

.indoor-box {
  background: url(/img/indoor-pollutions.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
}

.outdoor-box {
  background: url(/img/outdoor-pollution.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.tab-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.tab-content ul li img {
  width: 65%;
}

.tab-content ul li:nth-child(4) {
  top: 100px;
}

.tab-content ul li:nth-child(5) {
  top: 500px;
}

.tab-content ul li:nth-child(6) {
  top: 80px;
}

.tab-content ul li:nth-child(7) {
  top: 200px;
}

.tab-content ul li {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: relative;
}

.tab-content ul li:nth-child(1) {
  top: 200px;
}

.tab-content ul li:nth-child(2) {
  top: 100px;
  left: 50px;
}

.tab-content ul li:nth-child(3) {
  left: 100px;
  top: 300px;
}

.tab-button.active {
  background: #4BA9FF;
}

.protect-sec {
  padding-top: 150px;
}

.data-accuracy-sec {
  padding-top: 120px;
}

.data-accuracy-heading h2 {
  color: #31343D;
  font-size: 40px;
  width: 90%;
}

.data-accuracy-heading h2 span {
  color: #31343D80;
}

.data-accuracy-para p {
  color: #31343D;
  font-size: 16px;
  padding-left: 180px;
}

.data-accuracy-img img {
  width: 100%;
}

.data-accuracy-img {
  padding-top: 50px;
}

.world-map-sec {
  margin-top: 140px;
  background: url(/img/who-world-map.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}

.world-map-heading h2 {
  color: #31343D;
  font-size: 32px;
  text-align: center;
  width: 65%;
  margin: 0 auto;
  font-weight: 500;
  line-height: 46px;
  padding-bottom: 60px;
}

.who-box {
  border-top: 1px solid #0000001f;
  padding-top: 60px;
  border-bottom: 1px solid #0000001f;
  padding-bottom: 70px;
  position: relative;
}

.who-box:before {
  position: absolute;
  content: "";
  background: #0000001f;
  height: 100%;
  left: 0;
  width: 1px;
  right: 0;
  margin: 0 auto;
  top: 0;
}

.according-who h3 {
  color: #31343D;
  font-size: 26px;
  font-weight: 400;
  width: 70%;
  line-height: 38px;
}

.according-who h4 {
  color: #31343D;
  font-size: 16px;
  font-style: italic;
  border: 1px solid #31343d2e;
  border-radius: 100px;
  text-align: center;
  padding: 20px;
  width: 30%;
  margin-top: 20px;
}

.agency h4 {
  width: 80%;
}

.agency {
  padding-left: 100px;
}

.major-pollution-sec {
  padding-top: 150px;
}

.major-pollution-heading h2 {
  text-align: center;
  color: #31343D;
  font-size: 40px;
  font-weight: 500;
  margin: 0 auto;
  width: 40%;
  padding-bottom: 50px;
}

.major-pollution-heading h2 span {
  color: #31343D80;
}

.pocket-monitor-img img {
  width: 100%;
  border-radius: 25px;
}

.btn-img img {
  width: 10%;
}

.btn-img {
  text-align: right;
  position: relative;
  top: 0;
  z-index: 1;
  height: 0;
}

.pocket-pm-box {
  position: relative;
}

.pockect-txt {
  position: relative;
  top: -150px;
  height: 0;
  width: 40%;
  left: 30px;
}

.pockect-txt h3 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 600;
}

.pockect-txt p {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  padding-top: 10px;
}

.pocket-monitor-img {
  position: relative;
  overflow: hidden;
}

.pocket-monitor-img:before {
  position: absolute;
  content: "";
  background-image: linear-gradient(90deg, #000000a3, transparent);
  width: 60%;
  height: 100%;
  border-radius: 30px;
}

.outdoor-box .btn-img img {
  width: 5%;
}

.outdoor-box {
  margin-top: 20px;
}

.outdoor-txt {
  top: -250px;
  position: relative;
  width: 20%;
  float: right;
  left: -150px;
}

.outdoor-txt h3 {
  color: #31343D;
  font-size: 22px;
  font-weight: 700;
}

.outdoor-box .pocket-monitor-img:before {
  display: none;
}

.qoute-sec {
  padding-top: 100px;
}

.quote-img img {
  width: 6%;
}

.quote-img {
  padding-bottom: 20px;
}

.quote-para p {
  color: #31343D;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  width: 80%;
  margin: -30px auto;
}

.air-quality-product-sec {
  padding-top: 150px;
}

.air-quality-product-sec h2 {
  color: #31343D;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

.air-quality-product-sec h2 span {
  color: #31343D80;
}

.dashboard {
  background: #1E2124;
  margin-top: 40px;
  border-radius: 40px;
  margin-bottom: 20px;
}

.dashboard-img img {
  width: 75%;
}

.dashboard-img {
  text-align: center;
}

.aqi-btn {
  text-align: right;
  padding: 20px;
}

.aqi-btn img {
  filter: brightness(15.5);
}

.dashboard-box h3 {
  color: #4BA9FF;
  font-size: 16px;
  font-weight: 500;
}

.dashboard-box h4 {
  color: #F9FAFF;
  font-size: 32px;
  padding-top: 10px;
  font-weight: 400;
  width: 90%;
  padding-bottom: 10px;
}

.dashboard-box p {
  color: #f9faffe3;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 30px;
  width: 90%;
}

.dashboard-box a {
  width: 60%;
}

.dashboard-box {
  padding-top: 80px;
  padding-left: 130px;
}

.aqi-app {
  background: #1E262D;
  border-radius: 40px;
}

.aqi-app img {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.aqi-app .aqi-btn img {
  width: 9%;
  float: right;
}

.aqi-app h3 {
  color: #4BA9FF;
  font-size: 16px;
  font-weight: 500;
  padding-top: 20px;
  padding-left: 70px;
}

.aqi-app h4 {
  color: #F9FAFF;
  font-size: 32px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 70px;
}

.aqi-app p {
  color: #f9faffdb;
  font-size: 16px;
  font-weight: 300;
  padding: 5px 80px 40px;
  padding-left: 70px;
}

.aqi-tv-app {
  background: #F7F7FC;
}

.aqi-tv-app h4 {
  color: #31343D;
}

.aqi-tv-app p {
  color: #31343D;
  width: 70%;
}

.aqi-tv-app img {
  width: 65%;
  margin-top: -40px;
}

.aqi-tv-app {
  height: 530px;
}

.aqi-tv-app .aqi-btn img {
  width: 6%;
  margin: 0;
  filter: none;
}

.our-clinet-heading {
  padding-bottom: 40px;
}

.marquee {
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  display: flex;
}

.marquee-inner {
  animation: marquee 18s linear infinite;
  display: flex;
  gap: 15px;
}

.marquee-img-box img {
  width: 220px;
  background: #ffffff;
  border-radius: 20px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee-img-box {
  display: flex;
  gap: 15px;
}

.our-clinet-sec {
  background: #F7F7FC;
  margin-top: 150px;
  padding-top: 60px;
  padding-bottom: 50px
}

.our-clinet-heading h2 {
  color: #31343D;
  font-size: 40px;
  font-weight: 500;
}

.our-clinet-heading h2 span {
  color: #31343D80;
}

.our-clinet-heading h3 {
  color: #31343D;
  font-size: 26px;
}

.our-clinet-heading p {
  color: #31343D;
  font-size: 18px;
  padding-left: 200px;
}

.left-slid {
  animation: marquee-lft 18s linear infinite;
}

@keyframes marquee-lft {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.construct-img img {
  width: 100%;
  border-radius: 25px;
}

.app-box img {
  width: 100%;
}

.app-sec {
  background: #1E2124;
  border-radius: 80px 80px 0 0;
  margin-top: 120px;
  padding-top: 100px;
  padding-bottom: 70px;
}

.app-heading h2 {
  color: #F9FAFF;
  font-size: 40px;
  font-weight: 500;
  width: 70%;
}

.app-heading h2 span {
  color: #F9FAFF80;
}

.app-heading {
  padding-top: 60px;
}

.app-title {
  position: relative;
  top: -70px;
  left: 50px;
}

.app-title h3 {
  color: #F9FAFF;
  font-size: 24px;
  border-bottom: 1px solid #ffffff66;
  width: 50%;
}

.construct-img {
  position: relative;
}

.construct-img:before {
  position: absolute;
  content: "";
  background-image: linear-gradient(0deg, #333131, transparent);
  width: 100%;
  height: 120px;
  bottom: 28px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 25px;
}

.contact-sec {
  padding-top: 140px;
}

.lets-talk h2 {
  color: #1F1C2B;
  font-size: 40px;
  font-weight: 700;
}

.lets-talk p {
  color: #1F1C2B;
  font-size: 16px;
  padding-top: 10px;
  width: 60%;
  padding-bottom: 70px;
}

.lets-talk ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lets-talk ul li {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1px solid #00000036;
  margin-bottom: 30px;
  width: 90%;
}

.lets-talk ul li span {
  color: #1f1c2bb8;
  font-size: 24px;
  font-weight: 300;
}

.lets-talk ul li a {
  color: #1f1c2bfa;
  font-size: 16px;
  text-decoration: none;
}

.lets-talk ul li:last-child {
  border-bottom: none;
}

.form-card label {
  color: #000000;
  font-size: 14px;
  padding-bottom: 5px;
  display: block;
}

.form-card ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-card ul li {
  width: 100%;
}

.form-card input {
  background: #eff8ff;
  border: none;
  height: 50px;
  width: 100%;
}

input.org {
  width: 100%;
  margin-bottom: 20px;
}

input.msg {
  width: 100%;
  height: 150px;
  margin-bottom: 25px;
}

.form-card input:focus {
  border: 1px solid #e7e7fc;
}

input.org:focus {
  border: 1px solid #e7e7fc !important;
}

input.msg:focus {
  border: 1px solid #e7e7fc !important;
}

input#contact-submit {
  background: #4BA9FF;
  border-radius: 0;
  width: 100%;
  color: #fff;
}

form#msform {
  padding: 10px;
}

.faq-sec {
  padding-top: 150px;
  padding-bottom: 100px;
}

.faq-heading h2 {
  color: #31343D;
  font-size: 40px;
  font-weight: 700;
  width: 30%;
  padding-bottom: 40px;
}

.accordion-button {
  background: #F2F9FF;
  padding: 20px 40px 10px;
  border-radius: 10px 10px 0 0 !important;
}

.accordion-item {
  border: 0;
  margin-bottom: 10px;
}

.accordion-button:not(.collapsed) {
  background: #D1E9FE;
  color: #31343D;
}

.accordion-button span {
  color: #31343D;
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin-right: 10px;
}

.accordion-body p {
  color: #31343D;
  font-size: 16px;
}

.accordion-collapse {
  background: #D1E9FE;
}

.accordion-body {
  padding: 11px 80px 30px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .hero-sec {
    height: 350px;
  }

  .hero-heading {
    padding-top: 30px;
  }

  .hero-heading h1 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 5px;
  }

  .hero-heading p {
    font-size: 16px;
    width: 60%;
    line-height: 22px;
    padding: 5px 0 15px;
  }

  .page-btn {
    gap: 15px;
    width: 53%;
  }

  .hero-sec:before {
    width: 70%;
  }

  .air-quality-sec {
    padding-top: 50px;
  }

  .air-quality-heading h2 {
    font-size: 30px;
  }

  .air-quality-sub-heading {
    padding-top: 40px;
  }

  .air-quality-sub-heading p {
    font-size: 16px;
    padding-top: 10px;
    width: 100%;
  }

  .air-quality-bg:before {
    width: 100%;
  }

  .aqi-calculated {
    width: 100%;
    margin-top: 40px;
    padding: 0 0 10px;
  }

  .aqi-calculated ul li:first-child {
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 10px;
    gap: 0px;
    flex-direction: column;
  }

  .aqi-calculated ul li:first-child img {
    width: 40px;
  }

  .aqi-calculated:before {
    left: -130px;
  }

  .aqi-calculated ul li:last-child img {
    width: 80%;
  }

  .protect-sec {
    padding-top: 70px;
  }

  .tabs {
    top: 0px;
    left: 0px;
  }

  .tab-button {
    padding: 10px;
  }

  .tab-button ul li h4 {
    font-size: 18px;
  }

  .tab-button ul li span {
    font-size: 11px;
  }

  .tab-button ul li img {
    width: 25px;
  }

  .tab-content-para {
    padding: 30px 0px 10px;
  }

  .tab-content-para h4 {
    font-size: 28px;
    padding-bottom: 10px;
  }

  .tab-content ul li:nth-child(3) {
    left: 0px;
  }

  .tab-content ul li img {
    width: 55%;
  }

  .indoor-box {
    height: 450px;
  }

  .protect-sec .col-lg-8 {
    padding: 0;
  }

  .data-accuracy-sec {
    padding-top: 70px;
  }

  .data-accuracy-heading h2 {
    font-size: 28px;
  }

  .data-accuracy-para p {
    padding-left: 0px;
  }

  .data-accuracy-img {
    padding-top: 20px;
  }

  .world-map-sec {
    margin-top: 50px;
    padding-top: 50px;
  }

  .world-map-heading h2 {
    font-size: 24px;
    width: 95%;
    line-height: 32px;
    padding-bottom: 20px;
  }

  .who-box {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .according-who h3 {
    font-size: 20px;
    width: 90%;
    line-height: 30px;
  }

  .according-who h4 {
    font-size: 14px;
    padding: 15px;
    width: 50%;
    margin-top: 10px;
  }

  .agency {
    padding-left: 0px;
    padding-top: 20px;
  }

  .agency h4 {
    width: 100%;
  }

  .who-box:before {
    display: none;
  }

  .major-pollution-sec {
    padding-top: 60px;
  }

  .major-pollution-heading h2 {
    font-size: 28px;
    width: 100%;
    padding-bottom: 20px;
  }

  .pockect-txt {
    top: -150px;
    width: 60%;
    left: 20px;
  }

  .pocket-monitor-img:before {
    border-radius: 20px;
  }

  .pocket-monitor-img {
    margin-bottom: 15px;
  }

  .outdoor-box {
    margin-top: 0px;
  }

  .outdoor-box .pocket-monitor-img img {
    min-width: 500px;
  }

  .outdoor-txt h3 {
    font-size: 20px;
  }

  .outdoor-txt {
    top: -120px;
    width: 80%;
    float: right;
    left: -50px;
  }

  .outdoor-box .btn-img img {
    width: 10%;
  }

  .qoute-sec {
    padding-top: 0px;
  }

  .quote-para p {
    font-size: 26px;
    width: 90%;
    margin: -50px auto;
  }

  .quote-img img {
    width: 12%;
  }

  .air-quality-product-sec {
    padding-top: 100px;
  }

  .air-quality-product-sec h2 {
    font-size: 30px;
  }

  .dashboard-box {
    padding-top: 0px;
    padding-left: 10px;
  }

  .dashboard {
    border-radius: 30px;
    width: 100%;
    margin: 20px auto;
  }

  .aqi-app {
    border-radius: 30px;
  }

  .dashboard-box h4 {
    font-size: 28px;
  }

  .dashboard-box p {
    padding-bottom: 10px;
  }

  .dashboard-box a {
    width: 50%;
  }

  .dashboard-img img {
    width: 70%;
  }

  .aqi-btn img {
    width: 9%;
  }

  .aqi-app h3 {
    padding-left: 20px;
  }

  .aqi-app h4 {
    font-size: 28px;
    padding-top: 10px;
    padding-left: 20px;
  }

  .aqi-app p {
    padding: 5px 30px 20px;
    padding-left: 20px;
  }

  .aqi-tv-app .aqi-btn img {
    width: 9%;
  }

  .aqi-tv-app {
    height: auto;
    margin-top: 20px;
  }

  .aqi-tv-app img {
    width: 75%;
    margin-top: 0;
  }

  .aqi-tv-app p {
    width: 90%;
  }

  .our-clinet-sec {
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .our-clinet-heading p {
    font-size: 16px;
    padding-left: 0px;
  }

  .our-clinet-heading {
    padding-bottom: 10px;
  }

  .marquee-img-box img {
    width: 100px;
    border-radius: 10px;
  }

  .marquee-img-box {
    gap: 10px;
  }

  .app-sec {
    border-radius: 40px 40px 0 0;
    margin-top: 60px;
    padding-top: 0px;
    padding-bottom: 40px;
  }

  .app-heading h2 {
    font-size: 30px;
    width: 100%;
  }

  .app-heading {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .construct-img:before {
    display: none;
  }

  .app-title {
    top: 0;
    left: 0;
    padding: 10px 0 20px;
  }

  .app-title h3 {
    font-size: 18px;
    padding-bottom: 5px;
  }

  .contact-sec {
    padding-top: 50px;
  }

  .lets-talk p {
    font-size: 16px;
    padding-top: 10px;
    width: 90%;
    padding-bottom: 30px;
  }

  .lets-talk h2 {
    font-size: 30px;
  }

  .lets-talk ul li span {
    font-size: 20px;
  }

  .faq-sec {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .faq-heading h2 {
    font-size: 30px;
    width: 80%;
    padding-bottom: 30px;
  }

  .accordion-button {
    padding: 20px 10px 10px;
  }

  .accordion-body {
    padding: 0px 20px 20px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .hero-sec {
    height: 600px;
  }

  .hero-heading {
    padding-top: 200px;
  }

  .hero-sec:before {
    width: 70%;
  }

  .air-quality-sec {
    padding-top: 80px;
  }

  .air-quality-sub-heading {
    padding-top: 50px;
  }

  .air-quality-bg:before {
    width: 100%;
    height: 100%;
  }

  .aqi-calculated {
    width: 90%;
    margin-top: 40px;
  }

  .tabs {
    top: 0;
    left: 0;
  }

  .indoor-box {
    height: 500px;
  }

  .data-accuracy-sec {
    padding-top: 70px;
  }

  .data-accuracy-para p {
    padding-left: 0px;
  }

  .data-accuracy-img {
    padding-top: 30px;
  }

  .world-map-sec {
    margin-top: 50px;
    padding-top: 50px;
  }

  .world-map-heading h2 {
    font-size: 30px;
    width: 80%;
    line-height: 44px;
    padding-bottom: 30px;
  }

  .agency {
    padding-left: 0px;
    padding-top: 50px;
  }

  .who-box:before {
    display: none;
  }

  .agency h4 {
    width: 60%;
  }

  .major-pollution-sec {
    padding-top: 90px;
  }

  .major-pollution-heading h2 {
    font-size: 34px;
    width: 50%;
    padding-bottom: 30px;
  }

  .pocket-pm-box {
    margin-bottom: 20px;
  }

  .outdoor-txt {
    top: -160px;
    width: 30%;
    left: -50px;
  }

  .outdoor-box .btn-img img {
    width: 7%;
  }

  .qoute-sec {
    padding-top: 0px;
  }

  .air-quality-product-sec {
    padding-top: 80px;
  }

  .dashboard-box {
    padding-top: 30px;
    padding-left: 30px;
  }

  .dashboard-box a {
    width: 30%;
  }

  .dashboard-img img {
    width: 70%;
  }

  .dashboard {
    width: 100%;
    margin: 20px auto;

  }

  .aqi-tv-app {
    height: auto;
    margin-top: 20px;
  }

  .our-clinet-sec {
    margin-top: 88px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .our-clinet-heading p {
    padding-left: 0px;
  }

  .our-clinet-heading {
    padding-bottom: 20px;
  }

  .marquee-img-box img {
    width: 150px;
  }

  .app-sec {
    border-radius: 60px 60px 0 0;
    margin-top: 100px;
    padding-top: 0px;
  }

  .app-heading h2 {
    padding-bottom: 20px;
  }

  .contact-sec {
    padding-top: 90px;
  }

  .faq-sec {
    padding-top: 100px;
  }

  .faq-heading h2 {
    width: 50%;
  }

  .app-title {
    top: -60px;
    left: 0;
    padding-left: 30px;
  }

}

@media only screen and (min-device-width :768px) and (max-device-width :1024px) and (orientation :landscape) {
  .hero-sec {
    height: 500px;
  }

  .hero-heading {
    padding-top: 100px;
  }

  .page-btn {
    width: 45%;
  }

  .air-quality-sec {
    padding-top: 100px;
  }

  .air-quality-sub-heading {
    padding-top: 50px;
  }

  .aqi-calculated ul li:first-child {
    padding-left: 20px;
  }

  .tabs {
    top: 80px;
    left: 20px;
  }

  .protect-sec {
    padding-top: 90px;
  }

  .indoor-box {
    height: 450px;
  }

  .tab-button {
    padding: 10px;
  }

  .tab-button ul li h4 {
    font-size: 16px;
  }

  .tab-button ul li span {
    font-size: 12px;
    line-height: 18px;
    display: block;
  }

  .tab-content-para {
    padding: 30px 0px 0px;
  }

  .tab-content-para h4 {
    font-size: 26px;
    width: 90%;
    padding-bottom: 10px;
  }

  .data-accuracy-sec {
    padding-top: 60px;
  }

  .data-accuracy-heading h2 {
    font-size: 30px;
  }

  .data-accuracy-para p {
    padding-left: 50px;
  }

  .world-map-sec {
    margin-top: 100px;
    padding-top: 50px;
  }

  .world-map-heading h2 {
    font-size: 30px;
    width: 70%;
    line-height: 42px;
    padding-bottom: 40px;
  }

  .according-who h3 {
    font-size: 24px;
    width: 90%;
    line-height: 30px;
  }

  .according-who h4 {
    width: 40%;
  }

  .agency h4 {
    width: 90%;
  }

  .major-pollution-sec {
    padding-top: 100px;
  }

  .major-pollution-heading h2 {
    font-size: 30px;
  }

  .qoute-sec {
    padding-top: 0px;
  }

  .air-quality-product-sec {
    padding-top: 100px;
  }

  .dashboard-box {
    padding-top: 0px;
    padding-left: 30px;
  }

  .aqi-app h3 {
    padding-left: 20px;
  }

  .aqi-app h4 {
    font-size: 26px;
    padding-left: 20px;
  }

  .aqi-app p {
    padding-left: 20px;
  }

  .aqi-tv-app {
    height: auto;
  }

  .aqi-tv-app img {
    width: 55%;
    margin-top: 0px;
  }

  .our-clinet-sec {
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .our-clinet-heading p {
    padding-left: 0px;
  }

  .marquee-img-box img {
    width: 150px;
  }

  .app-sec {
    border-radius: 60px 60px 0 0;
    margin-top: 100px;
    padding-top: 70px;
  }

  .app-heading h2 {
    font-size: 30px;
    width: 90%;
  }

  .app-title h3 {
    font-size: 18px;
  }

  .construct-img:before {
    bottom: 22px;
  }

  .app-title {
    top: -50px;
    left: 0;
    padding-left: 20px;
  }

  .contact-sec {
    padding-top: 100px;
  }

  .lets-talk p {
    width: 80%;
    padding-bottom: 50px;
  }

  .faq-heading h2 {
    width: 50%;
  }
}